*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  max-width: 99%;
}


.image{
  width: -webkit-fill-available;
    margin-top: 2px
}

.play-button{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  background-color: black;
  opacity: 0.9;
  position: absolute;
  /* transform: translate(50%); */
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  color:beige;
}

.img1{
height: 20px;
margin-right: 5px;
}
.address1{
  display: flex;
}
.side_amenities{
  display: flex;
  width: 100% !important;

}
.right-amenties{
  writing-mode: vertical-rl;
  font-size: 85px;
  color: #cecECE66;
  right: -15px;
  text-orientation: mixed;
}

